{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
  </head>

  <body>
    <nav id="navbar">
      <ul>
        <li><a href="/" class="nav-left active">Inicio</a></li>
        <li><a href="/contato" class="nav-right">Contato</a></li>
        <li><a href="/projetos" class="nav-right">Projetos</a></li>
        <li><a href="/eventos" class="nav-right">Eventos</a></li>
        <li><a href="/minicursos" class="nav-right">Minicursos</a></li>
        <li><a href="/colaboradores" class="nav-right">Colaboradores</a></li>
      </ul>
    </nav>

    <div id="title-header">
      <div>
        <a href="/">
          <img
            src="{% static 'images/logo.svg' %}"
            alt="Logo do GIMA"
            id="logo"
          />
        </a>
        <h1>GRUPO IMAGEM & AÇÃO</h1>
      </div>
    </div>

    <div id="index-content-box" class="content-box">
      <div id="content-title">
        <h1>QUEM SOMOS</h1>
      </div>

      <div class="content-text" id="index-content">
        <p>
          O grupo IMA é um projeto de extensão da Universidade Estadual de Santa
          Cruz - UESC, idealizado por cinco professores da área de informática
          do departamento de Ciências Exatas e Tecnológicas da UESC, criado com
          a intenção de:
        </p>

        <ul>
          <li>
            Fomentar pesquisa na área de Processamento de Imagens e
            Reconhecimento de Padrões;
          </li>
          <li>
            Contribuir para a produção de Trabalhos de Conclusão de Cursos do
            curso de Ciência da Computação da UESC;
          </li>
          <li>Divulgar o curso de Ciência da Computação da UESC;</li>
          <li>
            Ser um elemento motivador para os alunos do curso de Ciência da
            Computação da UESC.
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
