{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projetos</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
  </head>

  <body>
    <nav id="navbar">
      <ul>
        <li><a href="/" class="nav-left">Inicio</a></li>
        <li><a href="/contato" class="nav-right">Contato</a></li>
        <li><a href="/projetos" class="nav-right active">Projetos</a></li>
        <li><a href="/eventos" class="nav-right">Eventos</a></li>
        <li><a href="/minicursos" class="nav-right">Minicursos</a></li>
        <li><a href="/colaboradores" class="nav-right">Colaboradores</a></li>
      </ul>
    </nav>

    <div id="title-header">
      <div>
        <a href="/">
          <img
            src="{% static 'images/logo.png' %}"
            alt="Logo do GIMA"
            id="logo"
          />
        </a>
        <h1>GRUPO IMAGEM & AÇÃO</h1>
      </div>
    </div>

    <div id="projetos-content-box" class="content-box">
      <div id="content-title">
        <h1>PROJETOS</h1>
      </div>

      <div class="content-text" id="projetos-content">
        <ul>
          <li>
            <a
              href="https://drive.google.com/drive/folders/1a3zHkbkLoTsjVxqgi4n2MrmhhWJFgHLP?usp=sharing"
              >Projeto de Ensino - Introdução ao Processing e Conceitos de
              Processamento de Imagens</a
            >
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
