/* Project page styles */
.project-data h1, p{
    padding: 10px;
}

#autores-box, #objetivo-box, #periodo-box{
    display: flex;
}

#aula-box{
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
}

.class-box{
    display: flex;
    flex-direction: column;
}

.class-box iframe{
    width: 800px;
    height: 450px;
}
