*{
    margin: 0px;
    padding: 0px;
    color: #173157;
    font-family: sans-serif;
}
body{
    background-color: #F2F4F8;
}


/* Navbar styles */
#navbar{
    display: flex;
    position: absolute;
    width: 100%;
}

#navbar ul{
    width: 100%;
    list-style-type: none;
    padding: 0px 100px;
}
  
.nav-left{
    float: left;
}

.nav-right{
    float: right;
}

#navbar ul li a{
    text-decoration: none;
    margin: 15px 15px;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 25px;
    transition: background 100ms;
}

#navbar ul li .active{
    font-weight: bold;
    font-size: 22px;
    background-color: #1731577F;
    color: #F2F4F8;
}

#navbar ul li a:hover{
    background-color: #2042757F;
    color: #F2F4F8;
}

/* Title header syles */
#title-header{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-image: url('/static/images/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 22px;
}

#title-header h1{
    background-color: #A4BFDF7F;
    border-radius: 25px;
    padding: 15px;
}

#logo{
    height: 150px;
    margin: 25px;
}

/* Page content styles */
.content-box{
    padding: 50px 100px;
}


#content-title{
    width: fit-content;
    padding: 15px;
    margin-bottom: 40px;
    border-radius: 25px;
    background-color: #C5D2D9;
    font-size: 18px;
}

.content-text{
    font-size: 18px;
}

.content-text ul{
    margin: 20px 40px;
}

