* {
    margin: 0px;
    padding: 0px;
    color: #002557;
    font-family: sans-serif;
}
body {
    background-color: #d3ddeb;
}

/* Navbar styles */
#navbar {
    display: flex;
    position: absolute;
    width: 100%;
}

#navbar ul {
    width: 100%;
    list-style-type: none;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

#navbar ul li a {
    text-decoration: none;
    margin: 15px 15px;
    padding: 5px 10px;
    font-size: 16px;
    transition: 200ms;
    border-radius: 5px;
}

#navbar ul li .active {
    font-weight: bold;
    font-size: 18px;
    background-color: #001d447f;
    color: #ffffff;
    box-shadow: #000c1d 0px 0px 8px;
}

#navbar ul li a:hover {
    background-color: #0025577f;
    color: #ffffff;
    box-shadow: #000c1d 0px 0px 8px;
}

/* Title header syles */
#title-header {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 250px;
    background-image: url("/static/images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 18px;
}

#title-header h1 {
    border-radius: 5px;
    padding: 15px;
}

#logo {
    height: 128px;
    margin: 15px;
}

/* Page content styles */
.content-box {
    padding: 50px 100px;
    margin: 0% 15%;
    height: auto;
    background-color: #a5b0df3f;
    box-shadow: black 0px 0px 4px;
}

#content-title {
    margin: 15px 0px;
    font-size: 14px;
}

.content-text {
    font-size: 16px;
}

.content-text ul{
    margin: 10px 20px;
}

.link-list ul {
    list-style: none;
}

.link-list ul li{
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    transition: 200ms;
    width: fit-content;
}

.link-list ul a {
    text-decoration: none;
}

.link-list ul a li:hover{
    background-color: #567DB37F;
}
